<!DOCTYPE html>
<html lang="en">

<head>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Analyzing Reddit Behaviour</title>

     <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet" />
     <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="engine1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="../static/vendor/d3.layout.cloud.js"></script>
    <script src="../static/vendor/d3.wordcloud.js"></script>
    <script type="text/javascript" language="javascript" src="../static/vendor/autocomplete.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


  <script type="text/javascript">// <![CDATA[
        function loadSpinner(){
            $("#load").show();
            $("#page").hide();
        }
  // ]]></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $("#load").hide();
      $("#myPopup").hide();
    }); </script>

    <script>
// When the user clicks on <div>, open the popup
function popupFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
}
</script>


<!--<
  <script> $('.Charts').click(loading);</script>
-->


</head>





<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://analyzingredditbehaviour.com">Analyzing Reddit Behaviour</a>
            </div>


            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="http://127.0.0.1:5002"><i class="fas fa-home"></i> Back to Home</a>
                        </li>


                            <!-- /.nav-second-level -->


                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                      <div class="row">
                          <div class="col-lg-12">
                                <h1 class="page-header">Your results for /r/{{ subreddit}}..</h1>
                                      <div id="load"> <img src = "../static/vendor/ajax-loader.gif" style="opacity:0.2; filter:alpha(opacity=40);"/> Please be patient.</div> </div>
                                        <div id="page">

                                              <h4> {{ new_comments }} new comments! </h4>

                                              <h4> Overall Sentiment Score: {{ overall_sentiment_score}}</h4>
                                              <br/>
                                              <div id="container">
                                                <h4 style="width:500px;"> Most used words within /r/{{ subreddit }} </h4><br>
                                                <h4 style="width:500px;margin-left:600px; margin-top:-50px;"> Distribution of Positive/Negative/Neutral Comments </h4>
                                                <div id='wordcloud' style="width:500px;float:left;"></div>
                                                <div id="pie" style="width:500px;margin-left:600px;"></div>
                                              </div>
                                              <br><br/>
                                              <div id="donut_layer" style="width: 700px; float:right;">
                                                <h4 style="margin-left:50px;"> % of comments per active Redditor </h4>
                                                <div id="donut" style="width:500px;"> </div>
                                              </div>
                                              <div id="second_layer" style="height:350px;width:500px; float:left;">
                                                <h4> What language style receives a higher score? </h4>
                                                <div id="lang_chart"> </div>
                                              </div>



                                          <script>
                                            var list1 = {{ words | tojson }};
                                            var i = 25;

                                            d3.wordcloud()
                                              .size([350, 350])
                                              .selector('#wordcloud')
                                              //.words([{text: 'test', size: 5}, {text: 'cloud', size: 15}])
                                              // larger words == most frequent
                                              .words([{% for w in words %} {text: {{ w | tojson  }},size:i-- },{% endfor %}])
                                              .font("Arial")
                                              .start();
                                           </script>

                                           <script>
                                              var senti_pi = c3.generate({
                                              data: {
                                                  columns: [
                                                    ['Negative Comments ', {{total_neg}}],
                                                    ['Positive Comments  ', {{total_pos}}],
                                                    ['Neutral Comments', {{ neutral }}],
                                                  ],
                                                  type: 'pie',
                                                  onclick: function (d,i) { console.log("onclick", d,i); },
                                                  onmouseover: function (d,i) { console.log("onmouseover",d,i);},
                                                  onmouseout: function (d,i) { console.log("onmouseout", d,i);}

                                              },

                                              bindto: '#pie'
                                          });
                                       </script>

                                       <script>

                                          var user_donut = c3.generate({
                                          data: {
                                              columns:[
                                                {% for item, value in active_user_dict.iteritems() %}[ {{ item | tojson }}, {{value}}],
                                                {% endfor %}

                                              ],
                                              type: 'donut',
                                              onclick: function (d,i) { console.log("onclick", d,i); },
                                              onmouseover: function (d,i) { console.log("onmouseover",d,i);},
                                              onmouseout: function (d,i) { console.log("onmouseout", d,i);}

                                          },
                                          legend: {
                                            show: false
                                          },
                                          donut: {
                                            title: "Most frequent commenters"
                                          },
                                          bindto: '#donut'
                                      });
                                   </script>


                                   <script>
                                        var language_chart = c3.generate({

                                            data: {
                                                columns: [
                                                    ['Score',{% for item in comment_avg %}
                                                      {{item | tojson }},
                                                    {% endfor %}],

                                                ],
                                                type: 'bar',
                                                colors: {
                                                   Score:  '#f3773e'
                                                },
                                                labels: true

                                            },

                                            bar: {
                                                width : {
                                                  ratio: 0.75
                                                }


                                            },
                                            size: {
                                                height: 350,
                                                width: 480
                                           },

                                            axis: {
                                              x: {
                                                  type: 'category',
                                                  label: {
                                                    text: 'Language Style',
                                                    position: 'inner-center'

                                                  },
                                                   categories: [{% for item in labels %}
                                                                   {{item | tojson }},
                                                                {% endfor %}]

                                               },
                                              y: {
                                                  max: 40,
                                                  label: {
                                                     text: 'Score',
                                                     position: 'outer-middle'
                                                  }

                                              }
                                            },
                                            legend: {
                                               position: 'right'
                                            },
                                            bindto: '#lang_chart'

                                        });
                                    </script>





                                      <br>

                                  </div>
                          </div>

                </div>


          </div>
      </body>


    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
