<!DOCTYPE html>
<html lang="en">

<head>
    <title>Analyzing Reddit Behaviour</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="engine1/jquery.js"></script>
    <!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/jumbotron.css" rel="stylesheet">
    <!--<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    -->
</head>

<script>
function goBack() {
    window.history.back();
}
</script>

<body>



    <div class="container">
        <div class="header">
            <nav>
            </nav>

            <h3 class="text-muted"> <img src="../static/vendor/reddit.jpg" alt="Reddit Logo" style="width:50px; height:60px; display:inline;">   Analyzing Reddit Behaviour</h3>
        </div>

        <div class="jumbotron">
            <h3> Something went wrong!</h3>
            <p> We're experiencing some technical difficulties, please try again later (500)</p>
            <a href="#" onclick="goBack();" class="btn btn-lg btn-success"> Go back</a>


        </div>

    </div>



</body>

</html>
